{% extends "template.html" %}
{% block page_title %} {{ page_content[0] }} {% endblock %}
{% block main_panel %}
{{ super() }}

<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{{ page_content[0] }}</h3>
      <button type="button" onclick="download_csv()" class="btn btn-primary btn-icon-text"><i class="mdi mdi-download btn-icon-prepend"></i> Download Data </button>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <form action="" method="POST">
          <div class="input-group date input-daterange" data-provide="datepicker">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="start_date" id="start_date" value="{{ chart_start_date }}">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div>
                <div class="input-group-addon mx-2 align-bottom"> to </div>
                <input type="text" class="form-control" name="end_date" id="end_date" value="{{ chart_end_date }}">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                </div>
                <button type="submit" class="ml-3 btn btn-primary enter-btn">View</button>
                <!-- Client Side Filtering -->
                <!-- <button onclick="filterDate()" class="ml-3 btn btn-primary enter-btn">Filter</button>
                <button onclick="resetDate()" class="ml-3 btn btn-primary enter-btn">Reset</button> -->
              </div>
            </div>
          </div>
        </form>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ page_content[0] }}</h3>
            <p>Data from {{ chart_start_date }} to {{ chart_end_date }}</p>
            <canvas id="lineChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    {% if (page_content[0] == "Wind + Solar Power Generation") %}
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ page_content[2][0]|safe }}</h3>
            <p>Data from {{ chart_start_date }} to {{ chart_end_date }}</p>
            <canvas id="windChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>
    
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ page_content[2][1]|safe }}</h3>
            <p>Data from {{ chart_start_date }} to {{ chart_end_date }}</p>
            <canvas id="solarChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      
    </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ page_content[0] }} Description</h4>
            <p>{{ page_content[1]|safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}

{% block js_scripts %}
<!-- Plugin js for this page -->
    <!-- <script src="assets/vendors/chart.js/Chart.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script> -->
    <script src="{{ url_for('static', filename='assets/vendors/date-fns/date_fns.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    {% if (page_content[0] == "System Frequency") %}
    <script src="{{ url_for('static', filename='assets/vendors/chart.js/chartjs-plugin-annotation.min.js') }}"></script>
    {% endif %}
    <!-- End plugin js for this page -->

    {% if (page_content[0] != "Wind + Solar Power Generation") %}

    <!-- CHART js for this page -->
    <script>
        $(function() {
  /* ChartJS
   * -------
   * Data and config for chartjs
   */
  'use strict';

  var js_chart_data = {{ chart_data }}
  
  var js_chart_labels = {{ chart_labels|safe }}

  var data = {
    labels: js_chart_labels,
    datasets: [{
      label: "{{ page_content[2]|safe }}",
      data: js_chart_data,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: false
    }]
  };


  var options = {
    scales: {
      x: {
        type: 'time',
        time: {
          parser: "yyyy-MM-dd HH:mm",
          displayFormats: {
            hour: "MMM d, h a"
          }
        },
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: 'Time'
        }
      },
      y: {
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: '{{ page_content[2]|safe }}'
        }
      }
    },
    legend: {
      display: true
    },
    tooltips: {
      mode: 'nearest'
    },
    hover: {
      mode: 'nearest',
      animationDuration: 0
    },
    {% if (page_content[0] == "System Frequency") %}
    plugins: {
      annotation: {
        annotations: {
          sixty: {
            type: 'line',
            yMin: 60,
            yMax: 60,
            borderColor: 'rgb(54, 162, 235)',
            borderWidth: 2,
            click: function({chart, element}) {
              console.log('Line annotation clicked');
            },
            label: {
              backgroundColor: 'grey',
              content: '60Hz',
              enabled: true
            },
          }
        }
      }
    },
    {% endif %}
    elements: {
      point: {
        radius: 0
      }
    }
  };

  if ($("#lineChart").length) {
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: data,
      options: options
    });
  }


});

// client side filtering
// function filterDate(){
//   const starting = document.getElementById('start_date').value;
//   console.log(starting);
//   const ending = document.getElementById('end_date').value;


// }
    </script>
    <!-- End CHART js for this page -->


    <!-- Download CSV for this page -->
    <script>

      var js_chart_data = {{ chart_data }}
      var js_chart_labels = {{ chart_labels|safe }}
      
      function formatTime(date){
        let hour = date.getHours();
        let minutes = date.getMinutes();
        // format
        hour = hour < 10 ? '0' + hour : hour;
        minutes = minutes < 10 ? '0' + minutes : minutes;

        return `${hour}:${minutes}`
      }

      function formatDate(date){
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        // formatting
        year = year.toString()
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;
        
        return `${year}-${month}-${day}`
      }

      function download_csv() {
        var csv = '';
        var csv_credits = 'Data from: Texas Grid Analytics (grid-analytics.ece.utexas.edu)\nChart: {{page_content[0]|safe}} from {{ chart_start_date }} to {{ chart_end_date }}\n'        
        var csv_header = 'Date,Time (US Central Time),{{ page_content[2]|safe }}\n';

        csv += csv_credits;
        csv += csv_header;

        for (i=0; i<js_chart_labels.length; i++){
          let csv_row = [];
          let csv_dateTime = new Date(js_chart_labels[i]);   
          csv_row.push(formatDate(csv_dateTime))
          csv_row.push(formatTime(csv_dateTime))
          csv_row.push(js_chart_data[i]);

          csv = csv + csv_row.join(',') + '\n';          
        }
  
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
        hiddenElement.download = 'TGA-{{ page_content[0] }}-{{ chart_start_date }}-{{ chart_end_date }}.csv';
        hiddenElement.click();
      }
    
    </script>
    <!-- End Download CSV for this page -->

    {% endif %}

    {% if (page_content[0] == "Wind + Solar Power Generation") %}

    <!-- CHART js for this page -->
    <script>
        $(function() {
  /* ChartJS
   * -------
   * Data and config for chartjs
   */
  'use strict';

  var js_chart_data = {{ chart_data }}
  
  var js_chart_labels = {{ chart_labels|safe }}

  var data = {
    labels: js_chart_labels,
    datasets: [
      {
        label: "{{ page_content[2][0]|safe }}",
        data: js_chart_data[0],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    },
    {
      label: "{{ page_content[2][1]|safe }}",
        data: js_chart_data[1],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    }]
  };

  var options = {
    scales: {
      x: {
        type: 'time',
        time: {
          parser: "yyyy-MM-dd HH:mm",
          displayFormats: {
            hour: "MMM d, h a"
          }
        },
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: 'Time'
        }
      },
      y: {
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: '{{ page_content[2]|safe }}'
        }
      }
    },
    legend: {
      display: true
    },
    tooltips: {
      mode: 'nearest'
    },
    hover: {
      mode: 'nearest',
      animationDuration: 0
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };

  if ($("#lineChart").length) {
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: data,
      options: options
    });
  }

});

// client side filtering
// function filterDate(){
//   const starting = document.getElementById('start_date').value;
//   console.log(starting);
//   const ending = document.getElementById('end_date').value;


// }
    </script>
    <!-- End CHART js for this page -->


    <!-- Download CSV for this page -->
    <script>

      var js_chart_data = {{ chart_data }}
      var js_chart_labels = {{ chart_labels|safe }}
      
      function formatTime(date){
        let hour = date.getHours();
        let minutes = date.getMinutes();
        // format
        hour = hour < 10 ? '0' + hour : hour;
        minutes = minutes < 10 ? '0' + minutes : minutes;

        return `${hour}:${minutes}`
      }

      function formatDate(date){
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        // formatting
        year = year.toString()
        month = month < 10 ? '0' + month : month;
        day = day < 10 ? '0' + day : day;
        
        return `${year}-${month}-${day}`
      }

      function download_csv() {
        var csv = '';
        var csv_credits = 'Data from: Texas Grid Analytics (grid-analytics.ece.utexas.edu)\nChart: {{page_content[0]|safe}} from {{ chart_start_date }} to {{ chart_end_date }}\n'        
        var csv_header = 'Date,Time (US Central Time),{{ page_content[2][0]|safe }},{{ page_content[2][1]|safe }}\n';

        csv += csv_credits;
        csv += csv_header;

        for (i=0; i<js_chart_labels.length; i++){
          let csv_row = [];
          let csv_dateTime = new Date(js_chart_labels[i]);   
          csv_row.push(formatDate(csv_dateTime));
          csv_row.push(formatTime(csv_dateTime));
          csv_row.push(js_chart_data[0][i]);
          csv_row.push(js_chart_data[1][i]);

          csv = csv + csv_row.join(',') + '\n';          
        }
  
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
        hiddenElement.download = 'TGA-{{ page_content[0] }}-{{ chart_start_date }}-{{ chart_end_date }}.csv';
        hiddenElement.click();
      }
    
    </script>
    <!-- End Download CSV for this page -->
    
    {% endif %} 

    {% endif %}

    {% if (page_content[0] == "Wind + Solar Power Generation") %}

    <!-- Custom js for this page -->
    <script>
        $(function() {
  /* ChartJS
   * -------
   * Data and config for chartjs
   */
  'use strict';

  var js_chart_data = {{ chart_data }}
  
  var js_chart_labels = {{ chart_labels|safe }}

  var data = {
    labels: js_chart_labels,
    datasets: [
      {
        label: "{{ page_content[2][0]|safe }}",
        data: js_chart_data[0],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    },
    {
      label: "{{ page_content[2][1]|safe }}",
        data: js_chart_data[1],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    }]
  };

  var windData = {
    labels: js_chart_labels,
    datasets: [
      {
        label: "{{ page_content[2][0]|safe }}",
        data: js_chart_data[0],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    }]
  };

  var solarData = {
    labels: js_chart_labels,
    datasets: [
      {
        label: "{{ page_content[2][1]|safe }}",
        data: js_chart_data[1],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        fill: false
    }]
  };

  var options = {
    scales: {
      x: {
        type: 'time',
        time: {
          parser: "yyyy-MM-dd HH:mm"
        },
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: 'Time'
        }
      },
      y: {
        grid: {
          color: 'rgba(204,204,204,0.1)',
          borderColor: 'grey',
          tickColor: 'grey'
        },
        title: {
          display: true,
          text: 'Generation in MW'
        }
      }
    },
    legend: {
      display: true
    },
    tooltips: {
      mode: 'nearest'
    },
    hover: {
      mode: 'nearest',
      animationDuration: 0
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };

  if ($("#lineChart").length) {
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: data,
      options: options
    });
  }

  if ($("#windChart").length) {
    var windChartCanvas = $("#windChart").get(0).getContext("2d");
    var windChart = new Chart(windChartCanvas, {
      type: 'line',
      data: windData,
      options: options
    });
  }

  if ($("#solarChart").length) {
    var solarChartCanvas = $("#solarChart").get(0).getContext("2d");
    var solarChart = new Chart(solarChartCanvas, {
      type: 'line',
      data: solarData,
      options: options
    });
  }


});

// client side filtering
// function filterDate(){
//   const starting = document.getElementById('start_date').value;
//   console.log(starting);
//   const ending = document.getElementById('end_date').value;


// }
    </script>
    <!-- End custom js for this page -->

    {% endif %}



{% endblock %}
